<html lang="en">
<head>
  <script src="/js/jquery-3.3.1/jquery.min.js"></script>
  <script src="/js/bootstrap-4.0.0/bootstrap.min.js"></script>
  <script src="/js/jqueryui-1.8.16/jquery-ui.min.js"></script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Etykiety</title>
 
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&subset=latin-ext" rel="stylesheet">
  <script type="text/javascript">
      function handleSubmitRequest() {
        var palet = $("#palet_no").val();
        var apiRoot = 'http://localhost:8080/palet/';
        
        $.ajax({
          url: apiRoot,
          method: 'POST',
          processData: false,
          contentType: "application/x-www-form-urlencoded",
          dataType: 'text',
          data: $("#forma").serialize(),
          success : function(data) {
            //alert(data);
            if(data == "true") alert("Przekazano do ponownego wydruku");
            else alert("Błąd - powtórz operację");
          },
          complete: function() {
                      $("#item_label").html("");
                      $("#itemId").html("");
                      $("#itemDesc").html("");
                      $("#itemDesc_label").html("");
                      $("#weight").html("");
                      $("#weight_label").html("");
                      $("#created").html("");
                      $("#created_label").html("");
                      document.getElementById("submit").style.display = "none";

          }
        });
      }

      function getPalet() {
        var palet = $("#palet_no").val();
        var apiRoot = 'http://localhost:8080/palet/?palet_no='+palet;

          $.ajax({
            url: apiRoot,
            method: 'GET',
            processData: false,
            contentType: "application/json; charset=utf-8",
            dataType: 'json', 
            success: function(el) {
                    if(el.itemDesc != "") {
                      $("#item_label").html("Artykuł:");
                      $("#itemId").html(el.item_id);
                      $("#itemDesc").html(el.description);
                      $("#itemDesc_label").html("Materiał:");
                      $("#weight").html(el.weight);
                      $("#weight_label").html("Waga:");
                      $("#created").html(el.stamp);
                      $("#created_label").html("Utworzono:");
                      $("#createPaletButton").show();
                      $("#submit").show();
                      document.getElementById("submit").style.display = "block";
                    }
                }
          });

      }


  </script>
</head>

<body>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/bootstrap-4.0.0/bootstrap.min.css">
<h1 class="kodilla-heading kodilla-heading--main">Wydruk etykiet paletowych</h1>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="index-item.html">Etykieta z numeru artykułu</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="index-order.html">Etykieta za zlecenia</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="index-reprint.html">Ponowny wydruk etykiety</a>
  </li>
</ul>
<main class="crud container">
  <section class="datatable">
    <h2>Ponowny wydruk etykiety</h2>
    <form
        id = "forma", name ="forma"
        class="datatable__row datatable__row--add"
        method="POST"
        action="http://localhost:8080/palet/"
        data-task-add-form
    >
      <fieldset class="datatable__row-section datatable__row-section--input-section">
        <label class="datatable__input-label">
         Numer palety
        </label>
        <input type="text" name="palet_no" id="palet_no" placeholder="Numer palety" required minlength="3">
      </fieldset>
      <br>
    <br>
      <fieldset class="datatable__row-section datatable__row-section--button-section">
        <button type="button" data-task-add-button class="datatable__button" onClick="getPalet()" id="createPaletButton" name="createPaletButton">Szukaj palety</button>
        <button type="button" class="datatable__button"  id="submit" name="submit" style="display:none;" onClick="handleSubmitRequest()">Drukuj palete</button>
      </fieldset>
    </form>
    <section>
      <table border=0>
        <tr>
          <td id="item_label" name="item_label"></td>
          <td><h4 id="itemId" name="itemId"></h4></td>
        </tr>
        <tr>
          <td id="itemDesc_label" name="itemDesc_label"></td>
          <td><h4 id="itemDesc" name="itemDesc"></h4></td>
        </tr>
        <tr>
          <td id="weight_label" name="weight_label"></td>
          <td><h4 id="weight" name="weight"></h4></td>
        </tr>
        <tr>
          <td id="created_label" name="created_label"></td>
          <td><h4 id="created" name="created"></h4></td>
        </tr>
      </table>
    </section>
  </section>

</body>
</html>